<nav class="navbar navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">

      <ul class="nav nav-pills">
        <li class="nav-item">
           <%= link_to 'Tsarong', root_path, class:"navbar-brand"%>
        </li>
        <li class="nav-item">
             <%= link_to 'Home', root_path %>
        </li>
        <li class="nav-item">
           <%= link_to 'About Us', home_about_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>






