<div class="jumbotron">
<h1>Welcome to my App</h1>
<p>This is Ruby on Rails playground!</p>
<%= link_to 'Login', new_user_session_path, class:'btn btn-info' %>
<%= link_to 'Join', new_user_registration_path, class:'btn btn-danger'%>
</div>
