<div class="jumbotron">

<h1>Welcome to my App</h1>
<p>This is Ruby on Rails playground!</p>

<%= link_to 'Home', root_path, class:"btn btn-info"%>
<%= link_to 'About Us', home_about_path, class:'btn btn-success'%>
</div>
